RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.*) $1.html [L,QSA]

RewriteCond %{HTTP:User-Agent} Gecko/
RewriteCond %{REQUEST_FILENAME} -d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) /http-index-format_automator.php?dir=%{REQUEST_FILENAME} [L,QSA]
