# This .htaccess makes *.html files accessible without
# their filename extension by using mod_rewrite. It is
# needed to comply with the pmxdr standard.

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule (.*) $1.html [L,QSA]
